body {
   background-color: black;
}

p {
    color:white;
}

h1 {
    color: white;
    text-align:center;
    font-family: 'Times';
}

#spotifylogo {
    width: 50px; 
  }

title {
    text-align:center;
    font-size: 50px;
}

footer {
 
    font-size: 40px;
      color: black;
     background-color: grey;
     font-family: 'Times';
     
    }

    #rymlogo {
        width: 80px;
      }


      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
      }
      
      .container img {
        max-width: 100%; 
        max-height: 100%; 
      }